@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Jomhuria&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,400;1,400;1,500&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    display: flex;
    overflow-y: hidden;
}

div.container {
    width: 100vw;
    height: 100vh;
    /* background-color: white; */
}
@media (min-width:412px){
    .top{
        display: none;
    }
}


.back {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 380px;
}

.images .img-1 {
    position: absolute;
    height: 30%;
    top: 150px;
    left: 112px;
    z-index: 1;
}

.images .img-2 {
    height: 30%;
    position: absolute;
    left: 203px;
    bottom: 80px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 367px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.DATE {
    display: flex;
    flex-direction: row;
}

.O {
    display: flex;
    flex-direction: row;
}

.one {
    display: flex;
    flex-direction: column;
}

.two {
    display: flex;
    flex-direction: column;
}

input {
    width: 75%;
}

.input-5 {
    width: 149px;
}

.CVC {
    font-size: 25px;
}

label {
    font-size: 25px;
}

.input-3,
.input-4 {
    margin-right: 10px;
    width: 60px;
}

.btn {
    background-color: rgb(56, 3, 81);
    width: 315px;
    margin-right: 94px;
    color: #ffffff;
    font-size: 33px;
    justify-content: center;
    border-radius: 8px;
    height: 40px;
}
.images .p1 {
    position: absolute;
    z-index: 1;
    color: white;
    top: 267px;
    left: 163px;
    font-size: 30px;
}

.images .p2 {
    position: absolute;
    z-index: 1;
    color: white;
    top: 320px;
    left: 163px;
    font-size: 14px;
}

.images .p4 {
    position: absolute;
    z-index: 1;
    color: white;
    top: 499px;
    left: 492px;
    font-size: 25px;
}

.images .p3 {
    position: absolute;
    z-index: 1;
    color: white;
    top: 317px;
    left: 401px;
    font-size: 17px;
}

.CARD {
    display: flex;
    flex-direction: row;
}

@media (max-width:412px) {
    .content {
        flex-direction: column;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        margin-top:758px;
        position: absolute;
        z-index: 1;
        margin-left: 639px;
    }

    input {
        width: 437px;
        height: 59px;
    }

    .btn {
        align-items: center;
        background-color: rgb(56, 3, 81);
        width: 433px;
        margin-right: 94px;
        color: #ffffff;
        font-size: 33px;
        justify-content: center;
        border-radius: 8px;
        height: 64px;
    }

    .input-5 {
        width: 204px;
        height: 37px;
    }

    .input-3,
    .input-4 {
        margin-right: 10px;
        width: 100px;
        height: 37px;
    }

    .DATE {
        display: flex;
        flex-direction: row;
    }

    .images .img-1 {
        position: absolute;
        height: 30%;
        top: 161px;
        left: 68px;
        z-index: 1;
    }

    .images .img-2 {
        height: 30%;
        position: absolute;
        left: 166px;
        bottom: 447px;
    }
    .images .p1 {
        position: absolute;
    z-index: 1;
    color: white;
    top: 267px;
    left: 87px;
    font-size: 32px;
    }
    
    .images .p2 {
     position: absolute;
    z-index: 1;
    color: white;
    top: 320px;
    left: 91px;
    font-size: 18px;
    }
    
    .images .p4 {
        position: absolute;
        z-index: 1;
        color: white;
        top: 131px;
        left: 467px;
        font-size: 25px;
    }
    
    .images .p3 {
          position: absolute;
    z-index: 1;
    color: white;
    top: 317px;
    left: 316px;
    font-size: 22px;
    }
    .top {
        height: 53%;
        position: absolute;
        z-index: -1;
        transform: rotate(360deg);
    
    }
    .back{
        display: none;
    }
}

